In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [2]:
filepath='./household_power_consumption.txt'

In [3]:
data_house_df = pd.read_table(filepath, delimiter = ';', low_memory=False)
data_house_df = data_house_df[data_house_df.Global_active_power != '?']

data_house_np = np.loadtxt(filepath, dtype='str', delimiter=";")
data_house_np = data_house_np[~np.any(data_house_np == '?', axis=1)]
data_house_np = data_house_np[1:]

In [4]:
data_house_df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [5]:
print(data_house_np[:4])

[['16/12/2006' '17:24:00' '4.216' '0.418' '234.840' '18.400' '0.000'
  '1.000' '17.000']
 ['16/12/2006' '17:25:00' '5.360' '0.436' '233.630' '23.000' '0.000'
  '1.000' '16.000']
 ['16/12/2006' '17:26:00' '5.374' '0.498' '233.290' '23.000' '0.000'
  '2.000' '17.000']
 ['16/12/2006' '17:27:00' '5.388' '0.502' '233.740' '23.000' '0.000'
  '1.000' '17.000']]

In [6]:
start_time = datetime.now()
data_house_df_Global_active_power_more_5 = data_house_df[data_house_df.Global_active_power.astype(float) > 5]
df_1 = datetime.now() - start_time
print('df: ', df_1)

start_time = datetime.now()
data_house_np_Global_active_power_more_5 = data_house_np[:][np.where(data_house_np[:,2].astype(float) > 5)]
np_1 = datetime.now() - start_time
print('np: ', np_1)

#print(len(data_house_df_Global_active_power_more_5),
#len(data_house_np_Global_active_power_more_5))

df:  0:00:00.192719
np:  0:00:00.727424

In [7]:
start_time = datetime.now()
data_house_df_Voltage_more_235 = data_house_df[data_house_df.Voltage.astype(float) > 235]
df_2 = datetime.now() - start_time
print('df: ', df_2)

start_time = datetime.now()
data_house_np_Voltage_more_235 = data_house_np[:][np.where(data_house_np[:,4].astype(float) > 235)]
np_2 = datetime.now() - start_time
print('np: ', np_2)

#print(len(data_house_df_Voltage_more_235),
#len(data_house_np_Voltage_more_235))

df:  0:00:00.313018
np:  0:00:01.121365

In [8]:
start_time = datetime.now()
data_house_df_Global_intensity_1 = data_house_df[(data_house_df.Global_intensity.astype(float) >= 19) &
                                              (data_house_df.Global_intensity.astype(float) <= 20)]
data_house_df_Global_intensity_2 = data_house_df_Global_intensity_1[data_house_df_Global_intensity_1.Sub_metering_2.astype(float) > 
                                                                  data_house_df_Global_intensity_1.Sub_metering_3.astype(float)]
df_3 = datetime.now() - start_time
print('df: ', df_3)

start_time = datetime.now()
data_house_np_Global_intensity_1 = data_house_np[1:][np.where(np.logical_and(data_house_np[1:,5].astype(float) >= 19,
                                                    data_house_np[1:,5].astype(float) <= 20))]

data_house_np_Global_intensity_2 = data_house_np_Global_intensity_1[1:][np.greater(
                                                                        data_house_np_Global_intensity_1[1:,7].astype(float),
                                                                        data_house_np_Global_intensity_1[1:,8].astype(float))
                                                                                 ]
np_3 = datetime.now() - start_time
print('np: ', np_3)
#len(data_house_df_Global_intensity_2)

df:  0:00:00.360270
np:  0:00:01.486195

In [10]:
start_time = datetime.now()
data_house_df_random = data_house_df.sample(n=50000)

data_house_df_random_sub_metering_1_mean = data_house_df_random.Sub_metering_1.astype(float).mean()
data_house_df_random_sub_metering_2_mean = data_house_df_random.Sub_metering_2.astype(float).mean()
data_house_df_random_sub_metering_3_mean = data_house_df_random.Sub_metering_3.astype(float).mean()

df_4 = datetime.now() - start_time
print('df: ', df_4)

df:  0:00:00.161979

In [9]:
start_time = datetime.now()

data_house_np_random = data_house_np[np.random.choice(data_house_np.shape[0], 500000, replace=False), :]
data_house_np_random_sub_metering_1_mean  = np.mean((data_house_np_random[:,6].astype(float)))
data_house_np_random_sub_metering_2_mean  = np.mean((data_house_np_random[:,7].astype(float)))
data_house_np_random_sub_metering_3_mean  = np.mean((data_house_np_random[:,8].astype(float)))

np_4 = datetime.now() - start_time
print('np: ', np_4)

np:  0:00:00.931007

In [12]:
start_time = datetime.now()

data_house_df.Time = data_house_df.Time.apply(lambda x: x.split(":")[0])
data_house_df_time = data_house_df[(data_house_df.Time.astype(float)>18) &
                                   (data_house_df.Global_active_power.astype(float)>6) &
                                   (data_house_df.Sub_metering_2.astype(float)>
                                   data_house_df.Sub_metering_1.astype(float) )&
                                   (data_house_df.Sub_metering_2.astype(float)>
                                   data_house_df.Sub_metering_3.astype(float))
                                  ] 

data_house_df_time_first_half = data_house_df_time[:int(data_house_df_time.shape[0]/2)]
data_house_df_time_second_half = data_house_df_time[int(data_house_df_time.shape[0]/2):]

data_house_df_time_first_half = data_house_df_time_first_half.loc[[i for j, i in enumerate(data_house_df_time_first_half.index) if j % 3 == 0]]
data_house_df_time_second_half = data_house_df_time_second_half.loc[[i for j, i in enumerate(data_house_df_time_second_half.index) if j % 4 == 0]]

df_5 = datetime.now() - start_time
print('df: ', df_5)

df:  0:00:01.665100

In [13]:
start_time = datetime.now()
data_house_np_time = data_house_np
get_time = lambda t: t.split(":")[0]
data_house_np_time[:,1] = np.array([get_time(ti) for ti in data_house_np[:,1]])
data_house_np_time = data_house_np_time[:][
    np.where(np.logical_and(
        np.logical_and(
            data_house_np_time[:,1].astype(float) > 18,
            data_house_np_time[:,2].astype(float) > 6,
            ), 
        np.logical_and(
            np.greater(data_house_np_time[:,7].astype(float), data_house_np_time[:,6].astype(float)),
            np.greater(data_house_np_time[:,7].astype(float), data_house_np_time[:,8].astype(float))
            )
        )
    )
]

data_house_np_time_first_half = data_house_np_time[:int(data_house_df_time.shape[0]/2):3]
data_house_np_time_second_half = data_house_np_time[int(data_house_df_time.shape[0]/2)::4]

np_5 = datetime.now() - start_time
print('np: ', np_5)

np:  0:00:06.090493

In [22]:
print(f"""
При виконанні завдань з цієї лабораторної роботи numpy виявився повільнішим приблизно в {round((np_1+np_2+np_3+np_4+np_5)/(df_1+df_2+df_3+df_4+df_5), 2)} рази ніж pandas
Висновок:
    Для роботи з табличними даними краще використовувати pandas
""")

При виконанні завдань з цієї лабораторної роботи numpy виявився повільнішим приблизно в 3.85 рази ніж pandas
Висновок:
    Для роботи з табличними даними краще використовувати pandas